<h2>О проекте</h2>
<div class='card shadow p-3 mb-5 bg-white rounded'>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-6'>
        <a class="twitter-timeline" data-height="400" href="https://twitter.com/angolosnichenko?ref_src=twsrc%5Etfw">Tweets by angolosnichenko</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class='col-md-6'>
        <div class='card-body shadow-sm p-3 mb-5 bg-white rounded'>
          <div class='row'>
            <div class='col-md-3'>
              <%= image_tag 'http://placeimg.com/320/320/abstract', class: 'rounded-circle img-fluid' %>
            </div>
            <div class='col-md-9'>
              <span>
                <h5>Антон Голосниченко</h5>
                Основатель startup-lessons.ru
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>